
<%= stylesheet_link_tag "header"%>

  <header class="site-header">
        <div class="container">
            <div class="logo">
                 <%= image_tag("logo.png", {:style => "width:150px;height: 60px;"}) %>
            </div>
            <nav class="site-nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <%= link_to 'Movies',movies_path, class: 'button'%>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav>
            <div class="search-bar">
                <form action="#" method="get">
                    <input type="text" placeholder="Search for movies...">
                    <button type="submit">Search</button>
                </form>
            </div>

              <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <%= link_to 'View shows',shows_path, class: 'btn btn-primary' %>
                <%= link_to 'View movies',movies_path, class: 'btn btn-primary' %>

                <a href="#footer" class= 'btn btn-primary'>Contact</a>
               </div>

             <div class = "image" onclick="openNav()">
                  <div>
                 <%= image_tag("user_logo.png", {:style => "width:50px;"}) %>
                  </div>
                  <span>Hi,Admin</span>
            </div>

        </div>
    </header>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "300px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


