<%= stylesheet_link_tag "theatre_show"%>

<p style="color: green"><%= notice %></p>
<div class="show-data">
  <% @theatre = Theatre.find(params[:id]) %>
  
  <div class="space"> Name: <%= @theatre.name%> </div>
    
   <div class="space">   Price: <%= @theatre.location%> </div>
<div>
   <div class="space">   <%=link_to "Edit this theatre", edit_theatre_path(@theatre), class:'btn btn-primary' %> </div>
   <div class="space">  <%= link_to "Back", theatres_path, class:'btn btn-primary' %> </div>
   <div class="space">  <%= button_to "Destroy this theatre", @theatre, method: :delete , class:'btn btn-primary'%> </div>
</div>
</div>