<%= stylesheet_link_tag "theatre_show"%>

<p style="color: green"><%= notice %></p>
<div class="show-data">
  <% @movie = Movie.find(params[:id]) %>
  
  <div class="space"> Title: <%= @movie.title%> </div>
    
   <div class="space">Description: <%= @movie.description%> </div>
<div>
   <div class="space"><%=link_to "Edit this movie", edit_movie_path(@movie), class:'btn btn-primary' %> </div>
   <div class="space"><%= link_to "Back", movies_path, class:'btn btn-primary' %> </div>
   <div class="space"><%= button_to "Destroy this movie", @movie, method: :delete , class:'btn btn-primary'%> </div>
</div>
</div>