<%= stylesheet_link_tag "theatre_form"%>
<div class = "form">
<%= form_with model: @booking do |form| %>
<% @theatres = Theatre.all %>
 <div class = "form-design">
    <% @theatres.each do |theatre| %>
     
   Name: <%= "#{theatre.name}, #{theatre.location}" %>
      <br>
    <% @shows = theatre.shows%>
    <% @shows.each do |show| %>
        <%= form.radio_button :showtime, "#{show.show_time}" %>
        <%= form.label :showtime, "#{show.show_time}" %>
        <br>
    <% end %>
    <% end %>
 </div>
<% end %>


</div>
