<%= stylesheet_link_tag "threatre_index"%>

<p style="color: green"><%= notice %></p>

<h1>Your booking history</h1>

<table>
 <thead>
    <tr>
      <th>Booking id</th>
      <th>Number of tickets</th>
      <th>Theatre Name</th>
      <th>Show Time</th>
      <th>Price</th>
    </tr>
  </thead>
    <tbody>
        <% @bookings.all.each do |booking| %>
       <tr>
        <td><%= booking.id %></td>
        <td><%= booking.num_of_tickets%></td>
        <td><%= booking.theatre%></td>
        <td><%= booking.showtime%></td>
        <td><%= booking.price%></td>
       </tr>   
       <% end %>
  </tbody>

<br>
</table>
   <div class="space"><%= link_to "Back", bookings_path, class:'btn btn-primary' %> </div>









