<%= stylesheet_link_tag "threatre_index"%>

<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
 <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
       <% @movies.each do |movie| %>
       <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description%></td>
        <td><%= link_to "Show", movie, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Book tickets', new_booking_path, class: 'btn btn-primary' %></td>
        </tr>   
        <% end %>
  </tbody>
  <%= link_to 'View history',bookings_booking_history_path, class: 'btn btn-primary' %>

<br>
</table>








