<%= stylesheet_link_tag 'select_seat' %>

<h1>Select Your Seats</h1>
<p>
  Showtime: <%= @show.show_time.strftime('%I:%M %p') %> - Theatre:
  <%= @show.theatre.name %>
</p>
<p>Number of Tickets: <%= @number_of_tickets %></p>
<p>Price: <%= @total_price %></p>

<%= form_with model: @booking, url: checkouts_create_path,  method: :post, remote: true do |form| %>
  <%= hidden_field_tag :show_id, @show.id %>
  <%= hidden_field_tag :num_of_tickets, @number_of_tickets %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :price, @total_price %>

  <div class="seat-map">
    <% @seats.each do |seat_number| %>
      <div class="seat <%= seat_class(seat_number) %>">
        <%=
          check_box_tag 'booking[seat_ids][]',
                        seat_number,
                        false,
                        id: "seat_#{seat_number}",
                        disabled: @booked_seats.include?(seat_number)
        %>
        <%= label_tag "seat_#{seat_number}", seat_number %>
      </div>
    <% end %>
  </div>

  <%= form.submit 'Payment' %>
<% end %>
