
<%= stylesheet_link_tag "theatre_show"%>

<p style="color: green"><%= notice %></p>

  <%= image_tag @movie.image, class: 'space', style: "height: 250px;" %>
  <div class="space"> Title: <%= @movie.title%> </div>
    
   <div class="space">Description: <%= @movie.description%> </div>
<div>
<% if can? :manage, Movie %>
   <div class="space"><%=link_to "Edit this movie", edit_admin_movie_path(@movie), class:'btn btn-primary' %> </div>
   <div class="space"><%= link_to "Back", admin_movies_path, class:'btn btn-primary' %> </div>
   <div class="space"><%= button_to "Destroy this movie", admin_movie_path(@movie), method: :delete , class:'btn btn-primary'%> </div>
   <%end%>
  <% if cannot? :manage, Movie %> 
   <div class="space"><%= link_to 'Book Tickets',  show_theatre_admin_shows_path(movie_id: @movie.id), class:'btn btn-primary'%> </div>
   <%end%>
</div>



