
<%= stylesheet_link_tag "theatre_form"%>

 <div class = form>
<%= form_with model: @theatre, url: (action_name == 'edit' ? admin_theatre_path(@theatre) : admin_theatres_path), method: (action_name == 'edit' ? :patch : :post) do |form| %>
  <div class = "form-design">
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  </div>
  <div class="form-design">
  <%= form.label :location, "Location:" %>
  <%= form.text_field :location %>
  </div>
   <div><%= form.submit "Submit"%></div>
<% end %>
</div>

